.primary-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 335px;
    height: 46px;
    padding: 0.6rem 1.2rem;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    border: none;
    border-radius: 6px;
    background-color: var(--btn-bg, #007bff);
    color: var(--btn-text, #fff);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    user-select: none;
    text-decoration: none;
    outline: none;
    -webkit-border-radius: 6px;

}